.custom_cursor {
    position: absolute;
    z-index: 10000;
    mix-blend-mode: difference;
    opacity: 0;
    transition: opacity .5s;

    .ring {
        position: fixed;
        width: 30px;
        height: 30px;
        border: 2px solid white;
        border-radius: 100%;
        transform: translate(-50%, -50%);
        -webkit-transition-duration: 100ms;
        transition-duration: 100ms;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        will-change: width, height, transform, border;
        z-index: 9;
        pointer-events: none;
    }

    .cursor {
        position: fixed;
        width: 16px;
        height: 16px;
        z-index: 10;
        pointer-events: none;

        svg {
            height: 100%;
            width: 100%;

            path {
                fill: white;
            }
        }
    }

    .ring.hovered {
        width: 40px;
        height: 40px;
    }

    .ring.click {
        background: white;
    }

    .cursor.click {
        svg {
            path {
                fill: black;
            }
        }
    }
}

.active {
    opacity: 1;
}