@import "../components/variables";

#about {
    padding: 50px 0px;

    body:global(.toggle) & {
        border: 1px solid red;
    }

    & > div {
        body:global(.toggle) & {
            border: 1px solid blue;
        }
    }

    & > div:first-child {
        &::before {
            content: "";
            display: block;
            height: 85px;
            width: 325px;
            background: $color-green;
            margin: 0 auto;

            @include respond-to("sm") {
                height: 60px;
                width: 100%;
                margin: 0;
            }
        }

        @include respond-to("sm") {
            padding-left: 20px;
            padding-right: 80px;
        }
    }

    & > div:nth-child(2) {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        @include respond-to("xl") {
            padding: 0px 60px;
        }

        @include respond-to("sm") {
            padding: 20px;
            padding-top: 40px;
            text-align: left;
            height: auto;
        }

        p {
            font-size: $font-lg;
            font-family: "Adobe Jenson Pro";
            max-width: 1075px;

            @include respond-to("xl") {
                max-width: none;
                font-size: $font-md;
            }
        }
    }

    .clients {
        max-width: 1075px;
        margin: 0 auto;

        @include respond-to("xl") {
            padding-bottom: 0;
            padding-left: 40px;
            padding-right: 40px;
        }

        @include respond-to("sm") {
            padding-bottom: 0;
            padding-left: 20px;
            padding-right: 20px;
            margin: 0;
        }

        span {
            display: block;
            text-align: center;
            font-size: $font-md;
            font-family: "Adobe Jenson Pro";
            padding-top: 40px;
            padding-bottom: 10px;

            @include respond-to("sm") {
                padding-top: 20px;
                font-size: $font-sm;
                text-align: start;
            }
        }

        & > div:last-child {
            margin: 0 120px;
            padding-bottom: 40px;
            display: flex;
            display: grid;
            grid-gap: 30px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            flex-flow: row wrap;

            body:global(.toggle) & {
                border: 1px solid red;
            }

            @include respond-to("md") {
                grid-template-columns: 1fr 1fr;
            }

            @include respond-to("md") {
                margin: 0;
                padding-bottom: 20px;
            }
        }
    }

    .press {
        max-width: 1075px;
        margin: 0 auto;

        @include respond-to("xl") {
            padding-bottom: 0;
            padding-left: 40px;
            padding-right: 40px;
        }

        @include respond-to("sm") {
            padding-bottom: 0;
            padding-left: 20px;
            padding-right: 20px;
            margin: 0;
        }

        span {
            display: block;
            text-align: center;
            font-size: $font-md;
            font-family: "Adobe Jenson Pro";
            padding-top: 40px;
            padding-bottom: 10px;

            @include respond-to("sm") {
                padding-top: 20px;
                font-size: $font-sm;
                text-align: start;
            }
        }

        & > div:last-child {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 40px;

            body:global(.toggle) & {
                border: 1px solid red;
            }

            @include respond-to("sm") {
                padding-bottom: 20px;
                align-items: start;
            }

            a {
                color: black;
                font-size: $font-link;
                padding-top: 5px;

                &:not(a:first-child) {
                    padding-top: 10px;
                }

                @include respond-to("sm") {
                    padding-top: 10px;
                    opacity: 0.75;

                    &:hover {
                        opacity: 1;
                        transition: 0.5s;
                    }
                }
            }
        }
    }

    .contact {
        max-width: 1075px;
        margin: 0 auto;

        @include respond-to("xl") {
            padding-bottom: 0;
            padding-left: 40px;
            padding-right: 40px;
        }

        @include respond-to("sm") {
            padding-bottom: 0;
            padding-left: 20px;
            padding-right: 20px;
            margin: 0;
        }

        span {
            display: block;
            text-align: center;
            font-size: $font-md;
            font-family: "Adobe Jenson Pro";
            padding-top: 40px;
            padding-bottom: 10px;

            @include respond-to("sm") {
                padding-top: 20px;
                font-size: $font-sm;
                text-align: start;
            }
        }

        & > div:last-child {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 40px;

            body:global(.toggle) & {
                border: 1px solid red;
            }

            @include respond-to("sm") {
                padding-bottom: 20px;
                align-items: start;
            }

            a {
                color: black;
                font-size: $font-link;
                padding-top: 5px;

                &:not(a:first-child) {
                    padding-top: 10px;
                }

                @include respond-to("sm") {
                    padding-top: 10px;
                    opacity: 0.75;

                    &:hover {
                        opacity: 1;
                        transition: 0.5s;
                    }
                }
            }
        }
    }

    .footer {
        max-width: 1075px;
        margin: 0 auto;

        @include respond-to("xl") {
            padding-bottom: 0;
            padding-left: 40px;
            padding-right: 40px;
        }

        @include respond-to("sm") {
            padding-bottom: 0;
            padding-left: 20px;
            padding-right: 20px;
            margin: 0;
        }
        span {
            display: block;
            font-size: $font-xxs;
            font-family: "Acumin Pro";
            padding-top: 40px;
            padding-bottom: 10px;
            padding-top: 40px;
            padding-bottom: 10px;
            text-align: center;

            @include respond-to("sm") {
                padding-top: 20px;
                text-align: start;
            }
        }
    }
}
