@import '../components/variables';

#projects {

    &>div {
        position: relative;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        @include respond-to("xl") {
            padding: 0px 60px;
        }

        body:global(.toggle) & {
            border: 1px solid red;
        }

        @include respond-to("sm") {
            padding: 20px;
            text-align: left;
            height: auto;
        }

        &>a {
            body:global(.toggle) & {
                border: 1px solid blue;
            }

            @include respond-to("sm") {
                display: flex;
                flex-direction: column-reverse;
            }

            &>div:first-child {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;

                @include respond-to("sm") {
                    position: relative;
                    padding: 20px 0px;
                }

                span {
                    display: block;
                    color: black;
                    font-size: $font-lg;
                    font-family: "Adobe Jenson Pro";

                    @include respond-to("sm") {
                        font-size: $font-md;
                    }
                }
            }

            &>div:last-child {
                height: calc(100vh - 130px);
                display: flex;
                align-items: center;

                @include respond-to("sm") {
                    height: auto;
                    align-items: flex-start;
                }
            }
        }

        p {
            max-width: 1075px;
            font-size: $font-lg;
            font-family: "Adobe Jenson Pro";

            @include respond-to("xl") {
                max-width: none;
            }

            @include respond-to("sm") {
                font-size: $font-md;
            }
        }
    }

    &>div:first-child {
        @include respond-to("sm") {
            min-height: 80vh;
            height: auto;
        }
    }

    &>div:last-child {
        height: 0;
        @include respond-to("sm") {
            opacity: 0;
            height: 25vh;
        }
    }
}