@import '../components/variables';

#test {

  &>section:not(:first-child):not(:last-child) {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    z-index: 1;
    perspective: 2000px;

    body:global(.toggle) & {
      border: solid thin green;
    }

    &>a {
      color: $color-black;
      max-width: 1075px;
      max-height: calc(100% - max(10%, 40px)*2);
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      span {
        display: none;
        width: 100%;
        font-size: $font-md;
        font-family: "Adobe Jenson Pro";
      }

      @include respond-to("xl") {
        padding: 0px 60px;
      }

      @include respond-to("md") {
        padding: 0;
        span {
          display: block;
          padding: 20px 0px;
        }
      }

      &>div {
        transition: transform .5s;

        &:hover {
          transform: scale(1.01);
        }
      }

      // background: rgba(255,255,0,0.25);
      // border: solid thin red;
    }
  }

  &>section {
    @include respond-to("lg") {
      padding: 60px;
    }

    @include respond-to("md") {
      padding: 20px;
      text-align: left !important;
      height: auto !important;
    }
  }

  .nChange {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;

    &:first-child {
      @include respond-to("md") {
        min-height: 80vh;
        height: auto;
      }
    }

    &:nth-last-child(2) {
      @include respond-to("md") {
        height: 25vh !important;
        opacity: 0;
      }
    }

    body:global(.toggle) & {
      border: solid thin green;
    }

    &>div {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      p {
        font-size: $font-lg;
        font-family: "Adobe Jenson Pro";
        max-width: 1075px;

        @include respond-to("md") {
          font-size: $font-md;
        }
      }
    }
  }
}

.fixed {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 50%;
  left: 50%;
  pointer-events: none;
  // background: rgba(0,0,0,0.25);
  transform: translate(-50%, -50%);

  &>div {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    span {
      opacity: 0;
      position: absolute;
      font-size: $font-lg;
      font-family: "Adobe Jenson Pro";
      max-width: 1075px;

      @include respond-to("md") {
        font-size: $font-md;
      }
    }
  }
}